.img-container {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
  .poster {
    height: 100%;
    width: 100%;
    animation: fadein 0.4s ease-in;
    img {
      width: 100%;
      object-fit: fill;
      height: 100%;
    }
  }
  .spinner {
    position: absolute;
    width: 30px;
    height: 30px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .blob {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #323740;

      width: 10px;
      height: 10px;
      border-radius: 50%;

      &.top {
        top: 0;
        animation: blob-top 1s infinite ease-in;
      }
      &.bottom {
        top: 100%;
        animation: blob-bottom 1s infinite ease-in;
      }
      &.left {
        left: 0;
        animation: blob-left 1s infinite ease-in;
      }
    }

    .move-blob {
      background: #323740;
      top: 0;
      animation: blob-spinner-mover 1s infinite ease-in;
    }
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}

@keyframes blob-bottom {
  25%,
  50%,
  75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%,
  100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%,
  100% {
    top: 50%;
    left: 0;
  }
}

@keyframes blob-spinner-mover {
  0%,
  100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .img-container {
    width: 100%;
    .spinner {
      top: 30%;
    }
  }
}

@media screen and (min-width: 768px) {
  .img-container {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .img-container {
    height: 60%;
    .spinner {
      top: 45%;
    }
  }
}
