.list-wrapper {
  display: flex;
  background-color: white;
  min-height: 100vh;
  .features-container {
    margin: 40px;
    padding: 0 7px;
    .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #e5e6e6;
      width: 200px;
      border-radius: 14px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
  }
}

@media screen and (max-width: 992px) {
  .list-wrapper {
    flex-direction: column;
    padding-top: 60px;
    .features-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .features {
        width: 645px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .features {
    position: sticky;
    top: 40px;
  }
}
