.filters {
  width: 100%;
  .categories-container {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    padding: 20px;
    .categories-header {
      margin-bottom: 10px;
      font-weight: 500;
    }
    .categories {
      display: flex;
      align-items: center;
      flex-direction: column;
      .category {
        color: black;
        border: none;
        padding: 10px;
        outline: none;
        font-size: 12px;
        margin: 5px;
        width: 80px;
        background: white;
        border-radius: 12px;
        transition: all 0.4s;
        box-shadow: 0 0 20px rgb(0 0 0 / 18%);
        transition: 200ms ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.04);
          transition: all 0.4s;
        }
        span {
          text-transform: capitalize;
        }
      }
      .selected {
        background-color: #a4a5a5;
        color: white;
      }
    }
  }
}
