.filter {
  min-width: 180px;
  width: 20%;
  margin: 80px 40px;
  .categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e5e6e6;
    border-radius: 14px;
    padding: 7px;
    box-shadow: 0px 0px 75px -16px rgb(0 0 0 / 50%);

    .category {
      color: black;
      border: none;
      padding: 10px;
      outline: none;
      font-size: 12px;
      margin: 5px;
      width: 80px;
      background: white;
      border-radius: 12px;
      box-shadow: 0 0 20px rgb(0 0 0 / 18%);
      transition: 200ms ease-in-out;
      cursor: pointer;
    }
    .selected {
      background-color: #a4a5a5;
      color: white;
    }
  }
}
